
.section {
    padding-top: 3.6em;
}

.subsection {
    padding-top: 2.4em;
}

.recipe {
    padding-top: 1.2em;
}

.section h2, .section h3 {
    text-align: left;
    font-size: 1.44em;
    line-height: 1.5em;
}

.subsection h3, .subsection h4 {
    text-align: left;
    font-size: 1.2em;
    line-height: 1.2em;
}

.recipe h3, .recipe h4 {
    text-align: center;
    font-size: 1em;
    line-height: 1.2em;
}

h1, .h1 {
    padding-bottom: 2em;
}
